<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Todo MacOS WIdget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>todo Widget 2Extension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4289DB462DEF807500DCF009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4289DB542DEF807600DCF009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4289DB5E2DEF807600DCF009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4289DB752DEF808E00DCF009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4289DBCD2DEF992900DCF009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
